<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body>
<br/>
<main class="mt-3">
    <h1 class="mb-3 mb-3 text-center se-form-text">Add Organisation</h1>
    <div class="container">
        <form class="se-form se-form-text mt-3 mb-3 col-md-9 form-custom" th:action="@{/organisation/add}" th:object="${bindingModel}"
              th:method="post" enctype="multipart/form-data"  sec:authorize="!hasRole('ROLE_CORP')">
            <th:block th:replace="~{fragments/organisation-form :: add-organisation}"></th:block>
        </form>
    </div>
</main>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script  th:inline="javascript">
    myFunction();

    fetch('/countries/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((country) =>
                $('#country').append(
                        `<option value="${country.id}">${country.niceName + ' +' + country.phonecode}</option>`))
        })
        .catch((err) => console.log(err));

    $('#country').change(function () {
        let countryCode = $(this).val();

        if (countryCode) {
            $('#phoneCode').val(countryCode);
        }
    });

    $("input[type=checkbox]").on("click", function(){
        if ($(this).is(":checked")) {
            document.getElementById("email").disabled = true;
            document.getElementById("email").value = '';
        } else {
            document.getElementById("email").disabled = false;
        }
    });
</script>
</html>