<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body>
<br/>
<main class="mt-3">
    <h1 class="mb-3 mb-3 text-center se-form-text">Edit Organisation</h1>
    <div class="container">
        <form class="se-form se-form-text mt-3 mb-3 col-md-9 form-custom"
              th:action="@{/organisations/edit}" th:object="${model}"
              th:method="post" enctype="multipart/form-data">
            <th:block th:replace="~{fragments/organisation-form :: modify-organisation}"></th:block>
            <th:block th:replace="~{fragments/organisation-form :: edit-option}"></th:block>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script th:inline="javascript">
    fetch('/fetch/all-countries')
        .then((response) => response.json())
        .then((json) => {
            let countryId = [[${model.countryId}]];
            // console.log(countries);
            json.forEach((country) =>
                $('#country').append(
                    countryId.includes(country.id)
                        ? `<option value="${country.id}" selected>${country.niceName + ' +' + country.phonecode}</option>`
                        : `<option value="${country.id}">${country.niceName + ' +' + country.phonecode}</option>`));
        })
        .catch((err) => console.log(err));
</script>
</html>