<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<div class="jumbotron container-fluid se-background">
    <main>
        <div align="center">
            <div class="mt-6">
                <h2 th:text="${viewModel.name}"></h2>
            </div>
            <div>
                <th:block th:replace="~{fragments/details :: event-details}"></th:block>
                <div class="form-group mt-5">
                    <p id="load-images" class="alert-info">Gallery</p>
                </div>
                <th:block th:replace="~{fragments/modals :: event-picture-modal}"></th:block>
                <div class="text-center mt-3">
                    <div class="custom-container">
                        <div id="content-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="token" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>

<script>
    const id = $('#btn-id').val();
    $(document).ready(showGallery(id));
</script>
</body>
</html>

