<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body>
<br/>
<main class="mt-3">
    <h1 class="text-center">Change Password</h1>
    <div class="container">
        <th:block th:replace="~{fragments/user-form :: edit-password}"></th:block>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
<script th:inline="javascript">
    myFunction();
</script>
</html>

