<th:block th:fragment="profile-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-center mt-3">
        <img th:src="${userModel.imageUrl}" height="200" width="200" class="profile-pic"/>
    </div>
    <div class="text-center mt-3">
        <a href="#" class="btn" data-toggle="modal" role="button" data-target="#modal">Change Picture</a>
        <div id="modal" class="modal modal-custom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
                <div class="modal-content">
                    <form id="change-profile-picture-form" class="form" th:action="@{/users/profile/change-picture}" th:method="post"
                    enctype="multipart/form-data">

                        <div class="file-field">
                            <div class="btn">
                                <span>Profile Picture</span>
                                <input type="file" name="file" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                        onclick="$('#change-profile-picture-form').submit()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-md-12 text-center">
            <h2 th:text="${userModel.username}"></h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-md-12 text-center">
            <h3 th:text="${userModel.email}"></h3>
        </div>
    </div>
    <hr class="text-center col-md-3"/>
    <div class="row mt-2">
        <div class="col col-md-12 text-center">
            <h1 th:text="${userModel.about}"></h1>
        </div>
    </div>
</th:block>

<th:block th:fragment="organisation-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-center">
        <img th:src="${viewModel.imageUrl}" height="200" width="200" class="profile-pic"/>
    </div>
    <div class="text-center mt-3">
        <a href="#" class="btn" data-toggle="modal" role="button" data-target="#modal">Change Picture</a>
        <div id="modal" class="modal modal-custom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-content">
                <form id="change-organisation-picture-form" class="form" th:action="@{/organisation/view/change-picture}" th:method="post"
                      enctype="multipart/form-data">

                    <div class="file-field">
                        <div class="btn">
                            <span>Organisation Picture</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                        onclick="$('#change-organisation-picture-form').submit()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-md-12">
            <h1 th:text="${viewModel.name}"></h1>
        </div>
    </div>
    <hr/>
    <div class="row">

        <div class="col col-md-12 text-center">
            <h3>Contact</h3>
        </div>
        <div class="col">
            <hr class="text-center col-md-3"/>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <i class="material-icons mr-1">&#xe0be;</i>
            <div class="row justify-content-center mt-4">
                <p th:text="${viewModel.email}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <i class="material-icons mr-1">http</i>
            <div class="row justify-content-center mt-4">
                <a th:href="${viewModel.website}">My Website</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <i class="material-icons mr-1">&#xe0b0;</i>
            <div class="row justify-content-center mt-4">
                <p th:text="${viewModel.phone}"></p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col col-md-12">
            <h3>Address</h3>
        </div>
        <div class="col">
            <hr class="text-center col-md-3"/>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <i class="material-icons">
                my_location
            </i>
            <div class="row justify-content-center mt-4">
                <p th:text="${viewModel.country}"></p>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-md-12 text-center">
            <i class="material-icons">
                location_city
            </i>
            <div class="row justify-content-center mt-4">
                <p th:text="${viewModel.zip}  + ' ' + ${viewModel.city}"></p>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-md-12 text-center">
            <p th:text="${viewModel.address}"></p>
        </div>
    </div>
    <hr/>
</th:block>
