<th:block th:fragment="profile-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-center">
        <img th:src="${userModel.imageUrl}" height="200" width="200" class="profile-pic"/>
    </div>

    <div class="row mt-1">
        <div class="col col-md-12 text-center">
            <h2 th:text="${userModel.username}"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 text-center">
            <h4 th:text="${userModel.email}"></h4>
        </div>
    </div>
    <hr class="text-center col-md-3"/>
    <div class="row">
        <div class="col col-md-12 text-center">
            <h1 th:text="${userModel.about}"></h1>
        </div>
    </div>
</th:block>

<th:block th:fragment="organisation-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-center">
        <img th:src="${viewModel.imageUrl}" height="200" width="200" class="profile-pic"/>
    </div>
    <hr/>

    <table class="table mt-5 table-hover table-responsive-lg text-center"
           border="0" width="100%" th:object="${viewModel}">
        <tbody >
        <tr>
            <th scope="row" width="50%"  class="text-center">Name</th>
            <th scope="row" th:text="${viewModel.name}"></th>
        </tr>
        <tr>
            <th scope="row" class="text-center"> <i class="material-icons mr-1">&#xe0be;</i></th>
            <th scope="row" th:text="${viewModel.email}"></th>
        </tr>
        <tr>
            <th scope="row" class="text-center"><i class="material-icons mr-1">http</i></th>
            <th scope="row"><a th:href="${viewModel.website}">My Website</a></th>
        </tr>
        <tr>
            <th scope="row" class="text-center"> <i class="material-icons mr-1">&#xe0b0;</i></th>
            <th scope="row" th:text="'+' + ${viewModel.countryPhonecode} + ${viewModel.phone}"></th>
        </tr>
        <tr>
            <th scope="row" class="text-center"><i class="material-icons">
                my_location
            </i></th>
            <th scope="row" th:text="${viewModel.countryNiceName}"></th>
        </tr>
        <tr>
            <th scope="row" class="text-center"><i class="material-icons">
                location_city
            </i></th>
            <th scope="row" th:text="${viewModel.zip}  + ' ' + ${viewModel.city}"></th>
        </tr>
        <tr>
            <th scope="row" class="text-center">Address</th>
            <th scope="row" th:text="${viewModel.address}"></th>
        </tr>
        </tbody>
    </table>
    <br/>
    <hr/>
</th:block>

<th:block th:fragment="event-details">
    <table class="table mt-5 table-hover table-borderless table-responsive-lg col-md-8"
           border="0" width="100%" th:object="${viewModel}">
        <tbody>
        <tr>
            <th scope="row" width="40%">Description</th>
            <th scope="row" th:text="*{description}">New text</th>
        </tr>
        <tr>
            <th scope="row">Location</th>
            <th scope="row" th:text="|*{countryNiceName} *{zip} *{city}|"></th>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <th scope="row" th:text="*{address}"></th>
        </tr>
        <tr>
            <th scope="row">Website</th>
            <th scope="row"><a th:href="${viewModel.website}">Click Here</a></th>
        </tr>
        <tr>
            <th scope="row">Starts On</th>
            <th scope="row" th:text="|*{startsOnDate.toString()} *{startsOnTime.toString()}|"></th>
        </tr>
        <tr>
            <th scope="row">Users registered for the event</th>
            <th scope="row" th:text="*{participantCount}"></th>
        </tr>
        </tbody>
    </table>
</th:block>
