<th:block th:fragment>
    <form class="se-form se-form-text" th:action="@{/users/password/edit}"
          th:method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="oldPassword" class="font-weight-bold">Old Password</label>
            <input type="password" class="form-control" id="oldPassword"
                   placeholder="Password..." name="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="password" class="font-weight-bold">New Password</label>
            <input type="password" class="form-control" id="password"
                   placeholder="New Password..." name="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="font-weight-bold">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword"
                   placeholder="Confirm New Password..." name="confirmPassword">
        </div>
        <hr class="hr-2 bg-info">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Edit</button>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>