<th:block th:fragment>
    <form class="se-form se-form-text" th:action="@{/users/profile/edit}"
          th:method="post" enctype="multipart/form-data">
        <div class="form-group align-content-center mb-3">
            <label for="fileUploadInput" class="font-weight-bold mt-3 mb-3">Profile Picture</label>
            <div>
                <img th:src="${userModel.imageUrl}"
                     th:height="200" th:width="200" alt="profile picture">
            </div>
            <input type="file" name="file" id="fileUploadInput">
        </div>

        <div class="form-group mt-3">
            <label for="username" class="font-weight-bold">Username</label>
            <input type="text" th:value="${userModel.username}"
                   class="form-control" name="username"
                   id="username" readonly>
        </div>
        <div class="form-group mt-3">
            <label for="email" class="font-weight-bold">Email</label>
            <input type="email" th:value="${userModel.email}"
                   class="form-control"
                   id="email" placeholder="Email..." name="email">
        </div>
        <hr class="hr-2 bg-info">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn se-background">Edit</button>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>