<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Share</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize-new.css}">
    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">

    <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/materialize-new.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</th:block>