<th:block th:fragment="add-event" xmlns:th="http://www.thymeleaf.org">
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group"
             th:classappend="${#fields.hasErrors('name')}?'text-danger'">
            <label for="name">Name</label>
            <input type="text" th:value="*{name}" name="name" id="name" required>
            <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>

        </div>
        <div class="col-md-6 mb-2 form-group selects-container"
             th:classappend="${#fields.hasErrors('categoryName')}?'text-danger'">
            <label for="category">Category</label>
            <select class="form-control select-dropdown" id="category"
                    th:field="*{categoryName}"
                    name="categoryName" required>
                <small th:each="error : ${#fields.errors('categoryName')}" th:text="${error}"></small>
            </select>
        </div>
    </div>
    <hr/>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea class="form-control materialize-textarea placeholder-fix" rows="3"
                      th:value="*{description}" name="description"
                      id="description" wrap="soft" placeholder="Describe your event here..."></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-2 form-group selects-container"
             th:classappend="${#fields.hasErrors('countryId')}?'text-danger'">
            <label for="country">Country</label>
            <select class="form-control select-dropdown validate" id="country"
                    th:field="*{countryId}"
                    name="countryId" required>
                <option selected="" disabled="" value="Select a country"></option>
            </select>
            <small th:each="error : ${#fields.errors('countryId')}" th:text="${error}"></small>
        </div>
        <div class="col-md-4 mb-2 form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" th:value="*{state}"
                   name="state" id="state">
        </div>
        <div class="col-md-2 mb-2 form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" th:field="*{zip}"
                   name="zip" id="zip">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-2 form-group"
             th:classappend="${#fields.hasErrors('city')}?'text-danger'">
            <label for="city">City</label>
            <input type="text" class="form-control" th:value="*{city}" name="city" id="city" required>
            <small th:each="error : ${#fields.errors('city')}" th:text="${error}"></small>
        </div>

        <div class="col-md-7 mb-2 form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control"
                   th:value="*{address}" id="address" name="address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="website">Website</label>
            <input type="url" class="form-control" th:value="*{website}"
                   id="website" name="website">
        </div>
    </div>
    <label class="text-center">Starts On</label>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group"
             th:classappend="${#fields.hasErrors('startsOnDate')}?'text-danger'">
            <input type="text" class="form-control datepicker placeholder-fix"
                   th:value="*{startsOnDate}" name="startsOnDate" id="starts-on-date"
                   placeholder="Date..." required>
            <small th:each="error : ${#fields.errors('startsOnDate')}" th:text="${error}"></small>
        </div>
        <div class="col-md-6 mb-2 form-group"
             th:classappend="${#fields.hasErrors('startsOnTime')}?'text-danger'">
            <input type="text" class="form-control timepicker placeholder-fix" th:value="*{startsOnTime}"
                   name="startsOnTime" id="starts-on-time" placeholder="Time..." required>
            <small th:each="error : ${#fields.errors('startsOnTime')}" th:text="${error}"></small>
        </div>
    </div>
    <hr/>
    <button type="submit" id="submitButton" class="button buttonBlue">Add</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</th:block>


<th:block th:fragment="edit-event" xmlns:th="http://www.thymeleaf.org">
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group" th:classappend="${#fields.hasErrors('name')}?'text-danger'">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" name="name" id="name" required>
            <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
        </div>
        <div class="col-md-6 mb-2 form-group selects-container"
             th:classappend="${#fields.hasErrors('categoryName')}?'text-danger'">
            <label for="category">Category</label>
            <select class="form-control select-dropdown" id="category"
                    th:field="*{categoryName}"
                    name="categoryName" required>
                <small th:each="error : ${#fields.errors('categoryName')}" th:text="${error}"></small>
            </select>
        </div>
    </div>
    <hr/>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea class="form-control materialize-textarea placeholder-fix" rows="3"
                      th:value="*{description}" th:text="*{description}" name="description"
                      id="description" wrap="soft"
                      placeholder="Describe your event here..."></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group selects-container">
            <label for="countryNiceName">Country</label>
            <input type="text" th:value="*{countryNiceName}" name="countryNiceName"
                   id="countryNiceName" readonly>
        </div>
        <div class="col-md-4 mb-2 form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" th:value="*{state}"
                   name="state" id="state" readonly>
        </div>
        <div class="col-md-2 mb-2 form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" th:field="*{zip}"
                   name="zip" id="zip">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-2 form-group"
             th:classappend="${#fields.hasErrors('city')}?'text-danger'">
            <label for="city">City</label>
            <input type="text" class="form-control" th:value="*{city}" name="city" id="city" required>
            <small th:each="error : ${#fields.errors('city')}" th:text="${error}"></small>
        </div>

        <div class="col-md-7 mb-2 form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control"
                   th:value="*{address}" id="address" name="address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="website">Website</label>
            <input type="url" class="form-control" th:value="*{website}"
                   id="website" name="website">
        </div>
    </div>
    <label class="text-center">Starts On</label>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group">
            <input type="text" class="form-control placeholder-fix"
                   th:value="*{startsOnDate}" name="startsOnDate" id="starts-on-date"
                   placeholder="Date..." readonly>
        </div>
        <div class="col-md-6 mb-2 form-group">
            <input type="text" class="form-control placeholder-fix" th:value="*{startsOnTime}"
                   name="startsOnTime" id="starts-on-time" placeholder="Time..." readonly>
        </div>
    </div>
    <hr/>
    <button type="submit" id="submitButton" class="button buttonBlue">Save</button>
</th:block>



