<th:block th:fragment="add-event" xmlns:th="http://www.thymeleaf.org">
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group" th:classappend="${#fields.hasErrors('name')}">
            <label for="name">Name</label>
            <input type="text" th:value="*{name}" name="name" id="name" required>
            <div class="invalid-tooltip"></div>
        </div>
    </div>
    <hr/>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea class="form-control materialize-textarea placeholder-fix validate" rows="3"
                      th:value="*{description}" name="description"
                      id="description" wrap="soft" placeholder="Describe your event here..."></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-2 form-group selects-container">
            <label for="country">Country</label>
            <select class="form-control select-dropdown validate" id="country"
                    name="country" required>
                <option selected="" disabled="" data-toggle="tooltip" data-container="#tooltip-container"></option>
            </select>
        </div>
        <div class="col-md-4 mb-2 form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" th:value="*{state}"
                   name="state" id="state">
        </div>
        <div class="col-md-2 mb-2 form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" th:field="*{zip}"
                   name="zip" id="zip">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-2 form-group" th:classappend="${#fields.hasErrors('city')}">
            <label for="city">City</label>
            <input type="text" class="form-control" th:value="*{city}" name="city" id="city" required>
            <div class="invalid-tooltip"></div>
        </div>

        <div class="col-md-7 mb-2 form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control"
                   th:value="*{address}" id="address" name="address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="website">Website</label>
            <input type="url" class="form-control" th:value="*{website}"
                   id="website" name="website">
        </div>
    </div>
    <label class="text-center">Starts On</label>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group">
            <input type="text" class="form-control datepicker placeholder-fix"
                   th:value="*{startsOnDate}" name="startsOnDate" id="starts-on-date"
                   placeholder="Date..." required>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="col-md-6 mb-2 form-group">
            <input type="text" class="form-control timepicker placeholder-fix" th:value="*{startsOnTime}"
                   name="startsOnTime" id="starts-on-time" placeholder="Time..." required>
            <div class="invalid-tooltip"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-2 form-group selects-container">
            <label for="not-open-to-register">Open For Registration</label>
            <select class="form-control select-dropdown validate" id="not-open-to-register"
                    name="notOpenToRegister" th:value="*{notOpenToRegister}">
                <option selected="selected" value="false">Yes</option>
                <option value="true">No, I'll activate manually</option>
            </select>
        </div>
    </div>
    <hr/>
    <button type="submit" id="submitButton" class="button buttonBlue">Add</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</th:block>