<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Share</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <!--<style>-->
        <!--body {-->
            <!--background: url("/static/images/background.jpg");-->
            <!--background-size: 100% 100%;-->
        <!--}-->
        <!--</style>-->
</th:block>