<th:block th:fragment="event-picture-modal">
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"
                sec:authorize="isAuthenticated()">
            Add Picture
        </button>

        <div id="modal" class="modal se-background modal-fixed-footer" tabindex="-1" role="document">
            <div class="modal-header">
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-content">
                <form id="add-event-pictures-form" class="form" th:action="@{/events/add-pictures/{id}(id=${viewModel.id})}" th:method="post"
                      enctype="multipart/form-data">
                    <div class="file-field">
                        <div class="btn">
                            <span>Choose a file</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-flat btn-success rounded func-button" data-dismiss="modal"
                        onclick="submitForm()">Save</button>
                <button type="button" class="btn-flat btn-danger rounded" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="organisation-picture-modal">
    <div class="text-right mt-3">
        <a href="#" class="btn custom-size-btn" data-toggle="modal" role="button" data-target="#modal">Change Picture</a>
        <div id="modal" class="modal modal-fixed-footer se-background" tabindex="-1" role="document">
            <div class="modal-header">
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-content">
                <form id="change-organisation-picture-form" class="form" th:action="@{/organisation/details/change-picture}" th:method="post"
                      enctype="multipart/form-data">
                    <div class="file-field">
                        <div class="btn">
                            <span>Choose a file</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-flat btn-success rounded" data-dismiss="modal"
                        onclick="$('#change-organisation-picture-form').submit()">Save</button>
                <button type="button" class="btn-flat btn-danger rounded" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="user-picture-modal">
    <div class="text-right mt-3">
        <a href="#" class="btn custom-size-btn" data-toggle="modal" role="button" data-target="#modal">Edit Picture</a>
        <div id="modal" class="modal modal-fixed-footer se-background" tabindex="-1" role="document">
            <div class="modal-header">
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-content">
                <form id="change-profile-picture-form" class="form" th:action="@{/users/profile/change-picture}" th:method="post"
                      enctype="multipart/form-data">
                    <div class="file-field">
                        <div class="btn">
                            <span>Choose a file</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-flat btn-success rounded" data-dismiss="modal"
                        onclick="$('#change-profile-picture-form').submit()">Save</button>
                <button type="button" class="btn-flat btn-danger rounded" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="remove-attendance-event-modal">
    <div class="text-right mt-3">
        <a href="#" class="btn custom-size-btn" data-toggle="modal" role="button" data-target="#modal">Remove from my attendance list</a>
        <div id="modal" class="modal modal-fixed-footer se-background" tabindex="-1" role="document">
            <div class="modal-header">
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-content">
                <form id="remove-attendance-event-form" class="form"
                      th:action="@{/events/my-events/attending/remove/{id}(id=${viewModel.id})}"
                      th:method="post">
                    <div class="file-field">
                        <div class="btn">
                            <span>Choose a file</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-flat btn-success rounded" data-dismiss="modal"
                        onclick="$('#remove-attendance-event-form').submit()">Save</button>
                <button type="button" class="btn-flat btn-danger rounded" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</th:block>

