<script src="../../static/js/custom.js"></script>
<th:block th:fragment xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-lg se-nav">
            <a class="navbar-brand" th:href="@{/}">Event Share</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav float-left">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>


<th:block th:fragment xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg se-nav">
            <a class="navbar-brand" th:href="@{/home}">Event Share</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="userNav">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/users/profile}"
                           id="navbarProfileDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu se-nav navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/users/profile}">My profile</a>
                            <a class="dropdown-item" th:href="@{/users/profile/edit}">Edit</a>
                            <a class="dropdown-item" th:href="@{/users/password/edit}">Change password</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarOrganisationDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Organisation
                        </a>
                        <div class="dropdown-menu navbar-expand se-nav" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/organisation/details}"
                               sec:authorize="hasRole('ROLE_CORP')">My organisation</a>
                            <a class="dropdown-item" th:href="@{/organisation/add}"
                               sec:authorize="!hasRole('ROLE_CORP')">Add</a>
                            <a class="dropdown-item" th:href="@{/organisation/edit}"
                               sec:authorize="hasRole('ROLE_CORP')">Edit</a>
                            <a class="dropdown-item" th:href="@{/organisation/delete}"
                               sec:authorize="hasRole('ROLE_CORP')">Delete</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarEventsDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        <div class="dropdown-menu navbar-expand se-nav" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/events/my-events}">My Events</a>
                            <a class="dropdown-item" th:href="@{/events/add}">Add New</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/explore/options}">Explore</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ROOT_ADMIN, ROLE_ADMIN, ROLE_MODERATOR')">
                        <a class="nav-link" th:href="@{/categories/all}">Categories</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_ROOT_ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu navbar-expand se-nav" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Users</a>
                            <a class="dropdown-item" href="#">Logger</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav float-left">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>

</th:block>

