<th:block th:fragment xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-lg se-background">
            <a class="navbar-brand se-text" th:href="@{/}">Event Share</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link se-text" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav float-left">
                    <li class="nav-item active">
                        <a class="nav-link se-text" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link se-text" th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>


<th:block th:fragment xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg se-background">
            <a class="navbar-brand se-text" th:href="@{/home}">Event Share</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="userNav">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item active">
                        <a class="nav-link se-text" th:href="@{/home}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle se-text" th:href="@{/users/profile}" id="navbarProfileDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu se-background se-text navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item se-text" th:href="@{/users/profile}">My profile</a>
                            <a class="dropdown-item se-text" th:href="@{/users/profile/edit}">Edit</a>
                            <a class="dropdown-item se-text" th:href="@{/users/password/edit}">Change password</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle se-text" href="#" id="navbarOrganisationDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Organisation
                        </a>
                        <div class="dropdown-menu se-background se-text navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item se-text" th:href="@{/organisation/add}" sec:authorize="!hasRole('ROLE_CORP')">Add</a>
                            <a class="dropdown-item se-text" href="#" sec:authorize="hasRole('ROLE_CORP')">Edit</a>
                            <a class="dropdown-item se-text" href="#" sec:authorize="hasRole('ROLE_CORP')">Delete</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle se-text" href="#" id="navbarEventsDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        <div class="dropdown-menu se-background se-text navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item se-text" href="#">My events</a>
                            <a class="dropdown-item se-text" href="#">Add</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle se-text" href="#" id="navbarBrowseDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Browse
                        </a>
                        <div class="dropdown-menu se-background se-text navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item se-text" href="#">Events</a>
                            <a class="dropdown-item se-text" href="#">Organisations</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle se-text" href="#" id="navbarAdminDropdown"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu se-background se-text navbar-expand" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item se-text" href="#">Users</a>
                            <a class="dropdown-item se-text" href="#">Logger</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav float-left">
                    <li class="nav-item active">
                        <a class="nav-link se-text" th:href="@{/users/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>

</th:block>