<th:block th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/users/login}" th:method="post">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername"
                   name="username" required><span class="bar"></span>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword"
                   name="password" required><span class="bar"></span>
            <div class="invalid-tooltip"></div>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Login
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>

    </form>
</th:block>

<th:block th:fragment="register" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/users/register}" th:method="post">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername"
               name="username" required><span class="bar"></span>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail"
               name="email" required><span class="bar"></span>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword"
               name="password" required><span class="bar"></span>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputConfirmPassword">Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword"
               name="confirmPassword" required><span class="bar"></span>
        <div class="invalid-tooltip"></div>
    </div>
    <hr>
    <button type="submit" id="submitButton" class="button buttonBlue">Register
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
</th:block>

<th:block th:fragment="edit-profile" xmlns:th="http://www.thymeleaf.org">
    <form class="se-form se-form-text mt-3 mb-5" th:action="@{/users/profile/edit}"
          th:method="post" enctype="multipart/form-data">
        <div>
            <img th:src="${userModel.imageUrl}" height="100" width="100" class="profile-pic"/>
        </div>
        <div class="form-group">
            <label for="fileUploadInput">Profile Picture</label>
            <input type="file" name="file" id="fileUploadInput">
        </div>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" th:value="${userModel.username}"
                   class="form-control" name="username"
                   id="username" readonly>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" th:value="${userModel.email}"
                   class="form-control"
                   id="email" name="email"><span class="bar"></span>
        </div>
        <div class="form-group">
            <label for="inputAbout">About Me</label>
            <textarea type="text" th:value="${userModel.about}" class="form-control"
                      id="inputAbout" name="about" th:field="${userModel.about}"></textarea><span class="bar"></span>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Edit
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>

<th:block th:fragment="edit-password" xmlns:th="http://www.thymeleaf.org">
    <form class="se-form se-form-text" th:action="@{/users/password/edit}"
          th:method="post">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword"
                   name="oldPassword" required><span class="bar"></span>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password"
                   name="password"><span class="bar"></span>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword"><span class="bar"></span>
            <div class="invalid-tooltip"></div>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Edit
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>