<th:block th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/users/login}" th:method="post" class="form-custom login">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername"
                   name="username" required>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword"
                   name="password" required>
            <div class="invalid-tooltip"></div>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Login
        </button>
    </form>
</th:block>

<th:block th:fragment="register" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/users/register}" th:method="post" class="form-custom register">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername"
               name="username" required>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail"
               name="email" required>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword"
               name="password" required>
        <div class="invalid-tooltip"></div>
    </div>
    <div class="form-group">
        <label for="inputConfirmPassword">Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword"
               name="confirmPassword" required>
        <div class="invalid-tooltip"></div>
    </div>
    <hr>
    <button type="submit" id="submitButton" class="button buttonBlue">Register
        
    </button>
</form>
</th:block>

<th:block th:fragment="edit-profile" xmlns:th="http://www.thymeleaf.org">
    <form class="se-form se-form-text mt-3 mb-5 form-custom edit" th:action="@{/users/profile/edit}"
          th:method="post">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" th:value="${userModel.username}"
                   class="form-control" name="username"
                   id="username" readonly>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" th:value="${userModel.email}"
                   class="form-control"
            id="email" name="email" required>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="inputAbout">About Me</label>
            <textarea type="text" th:value="${userModel.about}" class="form-control materialize-textarea"
                      id="inputAbout" name="about" th:field="${userModel.about}"></textarea>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Edit
            
        </button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>

<th:block th:fragment="edit-password" xmlns:th="http://www.thymeleaf.org">
    <form class="se-form se-form-text form-custom edit" th:action="@{/users/password/edit}"
          th:method="post">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword"
                   name="oldPassword" required>
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password"
                   name="password">
            <div class="invalid-tooltip"></div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword">
            <div class="invalid-tooltip"></div>
        </div>
        <hr/>
        <button type="submit" id="submitButton" class="button buttonBlue">Edit</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</th:block>


