.flash {
    background-color: lightcoral;
    padding: 1em;
}

.se-background {
    background-color: #2C86A6;
    color: yellow;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.se-text {
    color: #F0F8FF;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-min-size: large;
    font-weight: bold;

}


a:hover {
    color: #00FF7F;
    TEXT-DECORATION: none;
    font-weight: bolder;
}

.se-form {
    border: 2px solid #2C86A6;
    border-radius: 4px;
    padding: 10px;
}

.se-form-text {
    color: #2C86A6;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

.se-bg {
    background: linear-gradient(rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%),
    url('../images/background.jpg') no-repeat;
    background-size: cover;
}

.custom-btn {
    'Choose a picture';
}

