<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body>
<br/>
<main class="mt-3">
    <h1 class="mb-3 mb-3 text-center se-form-text">Add Category</h1>
    <div class="container">
        <form id="edit-category-form" class="se-form se-form-text mt-3 mb-3 col-md-6 form-custom"
              th:action="@{/categories/add}"
              th:object="${bindingModel}"
              th:method="post">
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}?'text-danger'">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:value="*{name}"
                       name="name" required>
                <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
            </div>
            <hr/>
            <button type="submit" id="submitButton" class="button buttonBlue">Save
            </button>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>