<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body>
<br/>
<main class="mt-3">
    <h1 class="mb-3 mb-3 text-center se-form-text">Edit Category</h1>
    <div class="container">
        <form id="edit-category-form" class="se-form se-form-text mt-3 mb-3 col-md-6 form-custom"
              th:action="@{/categories/edit(id=${#request.getParameter('categoryId')})}"
              th:method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control validate" id="name" th:value="${bindingModel.name}"
                       name="name" required>
                <div class="invalid-tooltip"></div>
            </div>
            <hr/>
            <button type="submit" class="button buttonBlue" th:value="${bindingModel.id}">Save
            </button>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>