<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script type="text/javascript" src="/js/materialize-new.js"></script>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body onload="standard()">
<br/>
<main class="mt-3">
    <h1 class="mb-3 mb-3 text-center se-form-text">Add Event</h1>
    <div class="container">
        <form class="se-form se-form-text mt-3 mb-3 col-md-9 form-custom" th:action="@{/events/add}"
              th:object="${bindingModel}"
              th:method="post" enctype="multipart/form-data" sec:authorize="isAuthenticated()">
            <th:block th:replace="~{fragments/event-form :: add-event}"></th:block>
        </form>
    </div>
</main>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
<th:block th:include="~{fragments/footer}"></th:block>

</body>
<script th:inline="javascript">
    myFunction();
    $(document).ready(function () {
        $('.timepicker').timepicker({
            format: 'hh:mm'
        });

        let today = new Date();
        let tomorrow = new Date();

        tomorrow.setDate(today.getDate() + 1);

        console.log(tomorrow);

        let instance = $('.datepicker').datepicker({
            format: 'dd-mmm-yyyy',
            minDate: tomorrow
        });

    });


    function toggleVal() {
        if($("input[type=checkbox]").is(":checked")) {
            return true;
        } else {
            return false;
        }
    }
    // $("input[type=checkbox]").disabled()
    // $("input[type=checkbox]").on("click", function(){
    //     if ($(this).is(":checked")) {
    //         document.getElementById("not-open-to-register").disabled = false;
    //         return true;
    //         // document.getElementById("not-open-to-register").value = 'true';
    //     } else {
    //         document.getElementById("not-open-to-register").disabled = true;
    //         return false;
    //     }
    // });

    fetch('/countries/fetch')
        .then((response) => response.json())
        .then((json) => {
            let countryNiceName = [[${bindingModel.countryNiceName}]];

            json.forEach((country) => $('#country').append(`<option value="${country.id}">${country.niceName}</option>`));
        })
        .catch((err) => console.log(err));

</script>
</html>