<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<div class="jumbotron container-fluid se-background">
    <main>
        <div align="center">
            <div class="mt-6">
                <h1 th:text="${viewModel.name}"></h1>
            </div>
            <div>
                <th:block th:replace="~{fragments/details :: event-details}"></th:block>
                <div class="form-group mt-5">
                    <!--<input hidden="hidden" th:text="${viewModel.id}" class="modelId">-->
                    <!--<button type="button" id="load-attendees" class="button buttonBlue" th:action="participantsShow('${viewModel.id}')">Participants</button>-->
                    <button type="button" id="load-images" class="button buttonBlue">Gallery
                    </button>
                </div>
                <th:block th:replace="~{fragments/modals :: event-picture-modal}"></th:block>
                <div class="text-center mt-3">
                    <div class="custom-container">
                        <div id="content-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>

<script>
    let url = window.location.pathname;
    let id = url.slice(26);

    function submitForm() {
        $('#add-event-pictures-form').submit().then(showGallery(id));
    }

    function loadGallery() {
        setTimeout(function () {
                showGallery(id)
            },
            100);
    }

    $(document).ready(showGallery(id));

    $('#modal').bind('hidden.bs.modal', function () {
        $("html").css("margin-right", "0px");
    });
    $('#modal').bind('show.bs.modal', function () {
        $("html").css("margin-right", "-15px");
    });
</script>
</body>
</html>

