<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="se-bg">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<div class="container-fluid">
    <main>
        <div class="jumbotron mt-4 bg-transparent">
            <h1>Event Share</h1>
            <hr/>
            <p>Share what's important to you.</p>
        </div>
    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>