<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<body class="se-bg">
<br/>
<main class="mt-3">
    <div class="jumbotron bg-transparent" th:object="${userModel}">

        <div class="text-center mt-3">
            <img  src="/images/profileImg.png"
                 th:height="200" th:width="200" alt="profile picture">
        </div>
        <div class="row mt-3">
            <div class="col col-md-12 text-center">
                <h1 th:text="*{username}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center">
                <h4 th:text="*{email}"></h4>
            </div>
        </div>

        <hr class="hr-2 bg-info">
        <div class="button-holder d-flex justify-content-center">
            <a th:href="@{/users/profile/edit}" class="btn btn-dark">Edit Profile</a>
        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
<script>
    $(document).ready(function() {
        let myImg = $(".profileImg");
        let url = "${userModel.imageUrl}";
        if (url.length > 0) {
            myImg.attr('src', url);
        }
    });
</script>
</html>