<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<br/>
<main>
    <div class="container">
        <div class="mt-6 se-text text-center">
            <h1>Register</h1>
        </div>
        <th:block th:replace="~{fragments/user-form :: register}"></th:block>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</main>
</body>
<script th:inline="javascript">
    myFunction();
</script>
</html>