<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>
<div class="container-fluid justify-content-center">
    <main>
        <div class="jumbotron mt-4 se-background">
            <h3 class="text-center teal-text">Events</h3>
            <hr/>
            <div class="text-right mt-3 mb-4">
            </div>
            <table class="table table-hover w-75 mx-auto">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center">#</th>
                    <th class="col-md-7 text-center">Name</th>
                    <th class="col-md-4 text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="event, iter : ${events}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                        <td class="col-md-7 text-center" th:text="${event.name}"></td>
                        <td class="col-md-4 text-center">
                            <a th:href="@{/explore/event/{id}(id=${event.id})}"
                               class="btn custom-size-btn green">View</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="custom-container">
                <div th:id="content-container"></div>
            </div>
        </div>

    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>